body{
    font-family: Laila;
    margin: 0;
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

.sidebar{
    grid-area: sidebar;
    justify-content: center;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    height: 60px;
}

.content{
    grid-area: content;
    color: #EFEBD6;
}

.container{
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "sidebar"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-auto-columns: minmax(10px, auto);
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}

nav li{
    list-style: none;
    font-size: 20px;
}

nav li a{
    text-decoration: none;
    border: 2px outset #EFEBD6;
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    border-radius: 30px;
    padding: 5px;
}

.main{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

img{
    border: 2px outset #EFEBD6;
    box-shadow: 4px 4px 5px #888888;
    text-align: center;
    display: block;
    max-width: 100%;
    margin: 3em auto;
}

.icons{
    color: #888888;
    text-align: center;
}

.fa-github{
    margin-right: 30px;
    color: #888888;
}

.fa-linkedin-in{
    margin-left: 30px;
    color: #888888;
    margin-right: 30px;
}

.fa-file-alt{
    margin-left: 30px;
    color: #888888;
    margin-right: 30px;
}

.fa-envelope{
    margin-left: 30px;
    color: #888888;
    margin-right: 30px;
}

.footer{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.footer a{
    text-decoration: none;
    color: #888888;
}

.span{
    font-size: 14px;
}

@media(min-width: 1040px){
    .container{
        grid-template-areas:
            "sidebar content"
            "sidebar footer";
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr auto;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    nav li{
        font-size: 20px;
        margin-bottom: 50px;
    }

    .sidebar{
        padding-top: 3em;
        background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
        height: auto;
    }

    img{
        border: 2px outset #EFEBD6;
        box-shadow: 4px 4px 5px #888888;
        margin-top: 3em;
        text-align: center;
        display: block;
        margin: 3em auto;
    }

    .footer{
        text-align: center;
        background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    }
}